/* header */
.bg-header{
    background-image: url( ../images/beach.png);
    height: 324px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.navigation{
    color: #fff;
   font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.zetta{
    color: #fff;
    font-size: 14px;
}
.next1{
    display: flex;
    
}
.next1 li{
    margin-right: 20px;
    text-transform: uppercase;
}
.fa-bars{
    color: #fff;
    font-size: 30px;
}
.burger-icon{
    display: none;
}
.flex{
    position: absolute;
    top: 150px;
    left: 25px;
}
.Restaurant{
    color: #fff;
    font-size: 42px;
    margin-bottom: 15px;
}
.hr{
    display: flex;
    color: #fff;
    font-size: 14px;
   
}
.home1{
    margin-right: 15px;
    
}
.rest2::before{
    content:'';
    width: 2px;
    height: 18px;
    background-color: #fff;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
  }
/* section1 */
