/* header */
.bg-header{
    background-image: url( ../images/beach.png);
    height: 324px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.navigation{
    color: #fff;
   font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.zetta{
    color: #fff;
    font-size: 14px;
}
.next1{
    display: flex;
    
}
.next1 li{
    margin-right: 20px;
    text-transform: uppercase;
}
.fa-bars{
    color: #fff;
    font-size: 30px;
}
.burger-icon{
    display: none;
}
.flex{
    position: absolute;
    top: 150px;
    left: 25px;
}
.Restaurant{
    color: #fff;
    font-size: 42px;
    margin-bottom: 15px;
    font-family: 'Coda Caption', sans-serif;
}
.hr{
    display: flex;
    color: #fff;
    font-size: 14px;
   
}
.home1{
    margin-right: 15px;
    
}
.rest2::before{
    content:'';
    width: 2px;
    height: 18px;
    background-color: #fff;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
  }
/* section1 */
.one-step{
    max-width: 1088px;
    width: 100%;
    display: flex;
    margin:0 auto ;
    margin-top: 90px;
    justify-content: space-around;
    margin-bottom: 80px;
    

    
}
.section1{
    max-width: 536px;
    width: 100%;
    display: flex;
    
    
    
}

.boxs2{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.beach2{
    margin-bottom: 15px;
}
.two{
    font-size: 14px;
    color: #5863F8;
    margin-bottom: 5px;
}
.rigt{
    max-width: 444px;
    width: 100%;
    margin-top: 127px;
}
.our{
    font-family: 'Coda Caption', sans-serif;
    margin-bottom: 18px;
    width: 200px;
}
.lorem{
    font-size: 14px;
    width: 430px;
    margin-bottom: 10px;;
}
.lorem1{
    font-size: 14px;
    width: 430px;
}
.blue-box{
    width: 184px;
    height: 50px;
    background-color: #5863F8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}
.fa-arrow-right{
    margin-left: 10px;
}
/* section2 */
.section2{
    margin: 0 auto;
    margin-left: 110px;
    
}
.secrest{
    color: #5863F8;
    font-size: 14px;
    margin-bottom: 15px;;
}
.explore{
    font-family: 'Coda Caption', sans-serif;
    width: 270px;
    font-size: 20px;
}
.conteiner{
    max-width: 1070px;
    width: 100%;
    display: flex;
    margin:0 auto ;
    margin-top: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}
.left-box{
    max-width: 520px;
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    position: relative;
    

}
.colum{
    margin-top: 37px;
    margin-left: 12px;
    
    

}
.food{
    color: #5863F8;
    font-size: 14px;
    margin-bottom: 10px;
}
.fish{
    font-family: 'Coda Caption', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}
.fresh{
    color: #B1B1B1;
    font-size: 12px;
    width: 150px;
    margin-bottom: 20px;
}
.left-left{
    width: 65px;
    height: 50px;
    background-color:#5863F8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0%;
    bottom: 0%;
    
}

.menu{
    margin-top: 20px;
}